:root {
    --bg-color-base: #ffffff;
    --bg-color-header: #ffffff;
    --bg-color-footer: #ffffff;
    --bg-color-selected: #ffffff;
    --color-base: #000000;
    --color-header: #000000;
    --color-footer: #000000;
    --color-selected: #000000;
    --color-input: #000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Microsoft JhengHei", sans-serif;
    --font-family-monospace: Menlo, "Courier New", monospace;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background-color: var(--bg-color-base);
    color: var(--color-base);
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    min-height: 100%;
    line-height: 1.5;
    margin: 0;
}

header {
    background-color: var(--bg-color-header);
    color: var(--color-header);
}

main {
    display: block;
}

footer {
    background-color: var(--bg-color-footer);
    color: var(--color-footer);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

fieldset {
    margin: 0;
}

button {
    cursor: pointer;
    font-family: var(--font-family-sans-serif);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    white-space: nowrap;
}

input {
    &[type="checkbox"],
    &[type="radio"],
    &[type="submit"] {
        cursor: pointer;
        font-size: inherit;
        margin: 0;
    }
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="tel"],
    &[type="text"] {
        color: var(--color-input);
        font-family: var(--font-family-sans-serif);
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin: 0;
    }
}

textarea {
    color: var(--color-input);
    font-family: var(--font-family-sans-serif);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
}

input {
    &[type="file"] {
        display: none;
    }
    &[type="search"] {
        color: var(--color-input);
        font-size: inherit;
        margin: 0;
    }
}

select {
    font-family: var(--font-family-sans-serif);
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

optgroup {
    font-style: normal;
    font-weight: inherit;
}

option {
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
figure,
p {
    margin: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

pre {
    font-family: var(--font-family-monospace);
    margin: 0;
}

address,
dfn {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

 ::selection {
    background-color: var(--bg-color-selected);
    color: var(--color-selected);
}